<app-home></app-home>


<!-- <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="" alt="">
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Casos de éxito</a></li>
            <li><a class="dropdown-item" href="#">Mercados</a></li>
            <li><a class="dropdown-item" href="#">Países</a></li>
            <li><a class="dropdown-item" href="#">Somos VASS</a></li>
            <li><a class="dropdown-item" href="#">Cómo lo hacemos</a></li>
            <li><a class="dropdown-item" href="#">Insights</a></li>
            <li><a class="dropdown-item" href="#">Noticias</a></li>
            <li><a class="dropdown-item" href="#">VASS Research</a></li>
            <i class="bi bi-search"></i>

          </ul>
      </ul>
    </div>
  </div>
</nav> -->
